version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: age26-postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: age26_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: age26-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
